<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DAL.Properties.Settings.ManeeConnectionString" connectionString="Data Source=MO-PC\RELEASE1;Initial Catalog=TOCPP;Persist Security Info=True;User ID=sa;Password=tmhctr" providerName="System.Data.SqlClient" />
  <add name="TOCPPEntities" connectionString="metadata=res://*/Models.ManeeEntityDataModel.csdl|res://*/Models.ManeeEntityDataModel.ssdl|res://*/Models.ManeeEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MO-PC\RELEASE1;initial catalog=TOCPP;persist security info=True;user id=sa;password=tmhctr;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>