@{
    ViewBag.Title = "Create";
        Html.RenderPartial("DeliveryNoteGridJs");
    
}

@{using (Html.BeginForm())
  { 
     <script type="text/javascript">

         function saveData() {


             var gridData = [];

             /*InputGrid.ds.each(function (record) {
                 
                 var recData = Ext.apply({}, record.data);
                 var jsonRecord = Ext.encode(recDate);
                 gridData.push(jsonRecord);
             });
             
             var deliveryNoteItemJson = '[' + gridData.join(',') + ']';*/

             // document.forms["collection"].deliveryNoteItemJson.value;
             
             //console.log(document.getElementById());
             //document.getElementById();
             //collection.deliveryNoteItemJson.value = "hh";
             //gridForm.store.data.items[0].data.senderName;
             document.getElementById('deliveryNoteItemJson').value = gridForm.store.data.items[0].data.ItemDetail;;
             gridForm.getForm().submit();

         }
</script> 
     
<h2>Create</h2>
<form name="collection" >

    <div id="SearchGrid">SearchGrid</div>
    <div id="DeliveryNote">DeliveryNote
        <div id="InputForm">InputForm
            <input type="text" name="sendername"/>
            <input type="text" name ="origin"/>
            <input type="text" name="destination"/>
             <input type="text" hidden="hidden" name="destination2"/>
            <input type="submit" value="Save" onclick="saveData()" />
           
        </div>
        <div id="InputGrid" >InputGrid
            <input id="deliveryNoteItemJson" type="hidden" name="deliveryNoteItemJson" value="" />

            <button onclick="saveData()"> dada</button>
        </div>
        
    </div>
    <div id="LogGrid">LogGrid</div>
</form>
  }}