@{
    ViewBag.Title = "Create";
   // Html.RenderPartial("DeliveryNoteGridJs");
    Html.RenderPartial("dnd_grid_to_gridJs");
}

@{using (Html.BeginForm())
  { 
     <script type="text/javascript">

         function saveData() {


             var gridData = [];

             console.log(gridForm.store.count());
             
             gridForm.store.each(function (record) {
                 var recData = Ext.apply({}, record.data);
                 var jsonRecord = Ext.encode(recData);
                 gridData.push(jsonRecord);
             });
             
             
             var deliveryNoteItemJson = '[' + gridData.join(',') + ']';

             // document.forms["collection"].deliveryNoteItemJson.value;
             
             //console.log(document.getElementById());
             //document.getElementById();
             //collection.deliveryNoteItemJson.value = "hh";
             //gridForm.store.data.items[0].data.senderName;
             document.getElementById('deliveryNoteItemJson').value = deliveryNoteItemJson;
             
             document.getElementById('DeliveryNoteId').value = "108";
             document.getElementById('DestinationId').value = "2";
             gridForm.getForm().submit();
             
         }
</script>
         
    <h2>Create</h2>   
    

    <html>

    <body>
        <form id="collection">
            <div id="A">LogGrid</div>
            <div id="B">LogGrid</div>
            <div id="DeliveryNote">DeliveryNote
                <div id="InputForm">InputForm
                    <input id="DeliveryNoteId" type="hidden" name="DeliveryNoteId" value="" />
                    <input id="DestinationId" type="hidden" name="DestinationId" value="" />
                </div>
                <div id="InputGrid">
                    InputGrid
                <input id="deliveryNoteItemJson" type="hidden" name="deliveryNoteItemJson" value="" />

                    <button onclick="saveData()">dada</button>
                </div>

            </div>

            <div id="SearchGrid">SearchGrid</div><br />
            <div id="panel">SearchGrid</div><br /><br />
            <div id="LogGrid">LogGrid</div>
            <div id="firstGrid">LogGrid</div>
            <div id="secondGrid">LogGrid</div>
        </form>
    </body>
    </html>
  }}