<?xml version="1.0" encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net">

  
  <object id="dnDAO" type="Manee.INV.DAL.DAOImpl.DeliveryNoteDAOImpl, Manee.INV.DAL" />

  <object id="DeliveryNoteSrv" type="Manee.INV.Service.ServiceImpl.DeliveryNoteServiceImpl, Manee.INV.Service">
    <property name="dnDAO" ref="dnDAO"/>
  </object>

  <object id="nliDAO" type="Manee.INV.DAL.DAOImpl.NoteLineItemDAOImpl, Manee.INV.DAL" />
  
  <object id="NoteLineItemSrv" type="Manee.INV.Service.ServiceImpl.NoteLineItemServiceImpl, Manee.INV.Service">
    <property name="nliDAO" ref="nliDAO"/>
  </object>


  </objects>