<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TOCPPEntities" connectionString="metadata=res://*/TocppEntityDataModel.csdl|res://*/TocppEntityDataModel.ssdl|res://*/TocppEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MO-PC\RELEASE1;initial catalog=TOCPP;persist security info=True;user id=sa;password=tmhctr;MultipleActiveResultSets=True;App=EntityFramework&quot;"
     providerName="System.Data.EntityClient" />
    <add name="DAL.Properties.Settings.TocppConnectionString" connectionString="Data Source=MO-PC\RELEASE1;Initial Catalog=TOCPP;Persist Security Info=True;User ID=sa;Password=tmhctr"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>